apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheus-prometheus-prometheus-db-prometheus-prometheus-prometheus-0
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  volumeName: prometheus-fss-pv
  storageClassName: ""